<link rel="stylesheet" href="/css/comment.css">

<li id="comment-<%=c.id%>" >
    <% if(locals.user.id==c.user.id){ %>
        
            <a class="delete-comment" href="/comment/delete?id=<%=c.id%>">X</a>
        
    <%}%>
    <% if(locals.user.id== p.user.id && c.user.id!=locals.user.id ){ %>
        <small class="unAppro" >
            <a href="/comment/unAppro?cid=<%=c.id%>&pid=<%=p.id%>">Y</a>
        </small>
    <%}%>
    <p><%= c.content %></p>
    <small><%= c.user.name %></small>
</li>