
    
        <li id="post-<%=p.id%>" >
            
                                      
            <div class="Post-Container">
                

                <% if(locals.user.id==p.user.id){ %>
                    <small>
                        <a class="delete-post-button" href="/post/delete/<%=p.id%>" >X</a>
                    </small>
                <%}%>
                 
                <p><%= p.content %></p>
                <small><%= p.user.name %></small>
            </div>
            <div class="Comment-container">

                <form  id="post-<%=p.id%>-comment-form" action="/comment/create?id=<%= p.id%>" method="post">
                    <input type="text" name="content" placeholder="Add a Comment" required >
                    <input type="submit" value="comment" > 
                </form>
            </div>

            <div class="comments-display" >
                <ul>
                    <%  for(let c of p.comment){ %>
                        
                        <%- include('_comment',{c:c,p:p}) %>
                
                    <%}%>
                </ul>
            </div>
        </li>
    
        
