<link rel="stylesheet" href="/css/home.css">
    
    

    <h1>
        Home page/ 
        <% if(locals.user){ %>
            <%= locals.user.name %>
            <% } %>
    </h1>

    <% if(locals.user){ %>
        <div id="post-section">
            <form action="/post/create" method="POST">
                <textarea name="content" cols="30" rows="5" placeholder="Add Post..."></textarea>
                <button type="submit">Publish</button>
            </form>
        </div>

        <div id="post-container">
            <% for(let c of post) { %>
                <div class="post">
                    
                        <p class="user">
                            <%= c.user.name %>
    
                        </p>
                        <p>
                        <%= c.content %>

                        </p>
                        <form action="/comment/create" method="POST">
                            <input type="text" name="comment" placeholder="Write a comment" required>
                            <input type="hidden" name="postId" value="<%= c.id %>">
                            <button type="submit">Add comment</button>
                        </form>   
                        
                        <div class="post-comment-list">
                            <ul class="post-comment-<%=c.id%>">
                               <%  for(let comment of c.comment){ %>
                                   <li>
                                    <%= comment.comment%>
                                     <small>
                                    <%= comment.userComment.name%>

                                     </small>   
                                   </li>
                                   
                                <%}%>
                            </ul>
                            
                        </div>
                </div>
            <% } %>
        </div>

        <% } %>
        
