<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">    
<div id="home-container">
    <section id="Loggedin-pic" >
        
        <% if(locals.user){ %>
            <% for(let u of user_friend){ %>
                <% if(locals.user.id==u.id){ %>
                    <img src="<%=u.avatar%>" alt="<%=u.name%>" height="200px">
                <% } %>
            <%}%>
        <%}%>
    </section>
    <section id="feed-container" style="
    width: 100%;
    margin-left: 10px;
" >
        

        <% if(locals.user){ %>
            <h1>Posts</h1>
            <form id="home-post-form" action="/post/create" method="post">
                <textarea id="post-input" name="content"  cols="30" rows="3" placeholder="Type here"></textarea>
                <input type="submit" value="Post" >
            </form>

            <h1>Recent Posts</h1>

            <div id="Post-container" >
                <ul >
                    <% for(let p of posts){ %>

                        <%-include('_post',{p:p}) %>

                    <%}%>
                </ul>
            </div>
        

            
        

    </section>
    <section id="users-friend" >   

        <h4>Users</h4>

        <% for(u of user_friend){ %>
            
           <% if(locals.user.id!=u.id){ %>
                <p>
                    <a href="/user/profile?userid=<%=u.id%>"><%= u.name %></a>
                </p>
            <%}%>
        <%}%>
        <% } %>
</section>

    <%- include('_chatbox') %>
    
</div>
<script src="<%= assetPath('js/post.js') %>"></script>

<script src="<%= assetPath('js/home.js') %>" ></script>


<script src="<%= assetPath('js/toggleLike.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>


<% if(locals.user){%>

    <script>
        new ChatEngine('user-chat-box','<%=locals.user.email%>','<%=locals.user.name%>');
    </script>

<%}%>